.boardImg {
  width: 310px;
  height: 320px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}

.advocacyImg {
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}
