@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: #1d2130;
}

.home-banner {
  background: url(./assets/bmcci-banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-wca {
  background: url(./assets/bmcci-gallery-5.jpeg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.home-banner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .home-banner::before {
    height: 70%;
  }
}
.home-banner-2 {
  background: url(./assets/others/general.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-width {
  @apply max-w-[1440px] mx-auto px-5 lg:px-12;
}

.causes-card {
  background: url(./assets/bmcci-gallery-8.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.causes-card-1 {
  background: url(./assets/bmcci-gallery-6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.causes-card-2 {
  background: url(./assets/bmcci-gallery-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.causes-card::before,
.causes-card-1::before,
.causes-card-2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  border-radius: 12px;
}
